body {
margin: 0px;
padding: 0;
font-family: helvetica;
background-image: linear-gradient(to right, #4C00E7, #A02FE8);
color: #9f04b0;
overflow-x: hidden;
background-color: #9f04b0;
-webkit-touch-callout: none;
user-select: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
a {
text-decoration: none;
}
@font-face {
font-family: nunito;
src: url(https://github.com/google/fonts/blob/main/ofl/nunito/Nunito-Regular.ttf?raw=true);
}
.apps_count {
height: 3.1%;
width: 100%;
padding-top: 20px;
}
.card-devs {
background: linear-gradient(45deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.6) 100%);
width: 85%;
display: inline-block;
border-radius: 20px;
margin: 10px;
box-shadow: 1px 2px 10px #000;
}
.card-devs h1 {
color: #1C0B36;
font-weight: 800;
text-align: justify;
margin-left: 20px;
}
.card-devs p {
color: #1C0B36;
font-weight: 400;
text-align: justify;
margin-left: 20px;
margin-right: 20px;
}
.card-devs img {
width: 120px;
border-radius: 60px;
margin: 15px;
box-shadow: 1px 2px 10px #000;
}
.card-devs a {
color: #fff;
display: block;
width: 120px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
background-color: #1C0B36;
margin: 10px;
display: inline-block;
box-shadow: 1px 2px 10px #000;
}
@font-face {
font-family: Framework7 Icons;
src: url(https://appinstallerios.com/fonts/Framework7Icons-Regular.woff2);
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .nav {
    font-family: Framework7 Icons;
    justify-content: center;
    position: fixed;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    bottom: 0px;
    z-index: 99;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    margin: 2% auto;
    left: 0;
    right: 0;
    width: 65%;
    border-radius: 20px;
    background: rgba(255,255,255,.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
.nav a:hover {
color: #1C0B36;
}
.nav a {
font-size: 45px;
color: #EBEBEB;
margin: 15.8px;
text-shadow: 1px 2px 10px #000;
}
.apps {	
width: 85%;
padding: 8px;
border-radius: 15px;
background: rgba(255,255,255,.1);
height: 45px;
box-shadow: 1px 2px 10px #000;
margin: 10px;
}
.apps img {
float: left;
width: 45px;
border-radius: 23.3%;
box-shadow: 1px 2px 10px #000;
}
.apps h1 {
font-size: 17px;
color: #1C0B36;
text-align: justify;
margin-top: 2px;
margin-bottom: 0px;
margin-left: 60px;
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .top {
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255,255,255,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
.top h1 {
position: fixed;
top: 5px;
left: 55px;
font-size: 25px;
color: #fff;
}
.top Img {
width: 30px;
height: 30px;
border-radius: 50%;
margin-left: 20px; 
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .name {
    position: fixed;
    left: 0%;
    top: 0px;
    width: 100%;
    height: 7%;
    color: rgb(255,255,255,.6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
.name h1 {
color: #1C0B36;
font-size: 20px;
text-align: center;
}
.name a {
text-decoration: none;
color: #1C0B36;
font-size: 40px;
font-family: Framework7 Icons;
-webkit-appearance: none;
float: left;
margin-top: 7px;
margin-bottom: 0px;
}
.event {
background: linear-gradient(45deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.6) 100%);
width: 85%;
display: inline-block;
border-radius: 20px;
margin: 10px;
box-shadow: 1px 2px 10px #000;
}
.event h1 {
color: #1C0B36;
font-weight: 800;
text-align: center;
}
.event img {
width: 120px;
border-radius: 60px;
margin: 15px;
box-shadow: 1px 2px 10px #000;
}
.event a {
color: #fff;
display: block;
width: 137.5px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
background-color: #1C0B36;
margin: 10px;
display: inline-block;
box-shadow: 1px 2px 10px #000;
}
.ios {
background: linear-gradient(45deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.6) 100%);
width: 37%;
border-radius: 20px;
margin: 7.2px;
box-shadow: 1px 2px 10px #000;
font-size: 24.6px;
color: #1C0B36;
padding: 4.5px;
}
.beta {
background: linear-gradient(45deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.6) 100%);
width: 26.6%;
height: 26.6%;
display: inline-block;
border-radius: 20px;
margin: 8.5px;
box-shadow: 1px 2px 10px #000;
padding: 3.5px;
}
.beta img {
width: 120px;
margin-left: -5px;
filter: drop-shadow(1px 2px 10px #000);
}
#myInput {	
background-position: 10px 12px;
background-repeat: no-repeat;
width: 70%;
height: 1%;
font-size: 16px;
padding: 10px 17px 10px 37px;
margin-bottom: 9px;
margin: 10px;
border-radius:20px;
background-color: rgba(255,255,255,.1);
color: #fff;
border: none;
outline: none;
box-shadow: 1px 2px 10px #000;
}
#myUL {
/* Remove default list styling */
list-style-type: none;
padding: 0;
margin: 0;
}
